body{
    background-color: #333;
    font-family: sans-serif;
    color: aliceblue;
}

/* reseteo de una lista */

.list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}