body {
    background-color: #333;
    font-family: sans-serif;
}


.container {
    position: relative;
}

.box {
    position: relative;
    top: 50px;
    bottom: 100px;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(45deg);
    background-color: lightcoral;
}

.tooltip {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    width: 135px;
    text-align: center;
    background-color: lightgreen;
    padding: 0.5rem;
    z-index: -1;
}

.container:hover .tooltip {
    transform: translate(-50%, 205px);
}